@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}
* {
  margin: 0%;
  box-sizing: border-box;
  font-family: "Outfit";
}
body {
  background-color: var(--Light-gray);
}

.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  padding: 20px;
  background-color: var(--);
  border-radius: 25px;
}
.card {
  width: 300px;
  height: 500px;
  background-color: var(--White);
  border-radius: 20px;
}

.card .image img {
  width: 300px;
  height: 300px;
  border-radius: 25px;
  padding: 15px;
}

.card-text {
  font-family: "Work Sans", sans-serif;
  text-align: center;
  padding: 0px, 30px, 20px, 30px;
}

.card-text h1 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

.card-text p {
  color: hsl(220, 15%, 55%);
  padding-top: 15px;
  font-size: 15px;
  font-weight: 400;
}
