body {
  background: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  margin: 0;
  text-align: center;
  padding: 10px;
}

h1 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  line-height: 1.3;
  font-size: 21px;
  padding: 10px 0;
}

p {
  color: hsl(220, 15%, 55%);
  font-weight: 400;
}

img {
  border-radius: 12px;
  object-fit: contain;
  overflow: hidden;
  width: 100%;
}
.container {
  align-items: center;
  display: flex;
  height: 97vh;
  justify-content: center;
}

.card {
  background: hsl(0, 0%, 100%);
  border-radius: 17px;
  box-shadow: 0 0 100px hsl(218, 44%, 70%);
  margin: auto;
  padding: 17px;
  max-width: 286px;
}

.card-text {
  margin: auto;
  width: 85%;
}

intro {
  color: #0000ff;
}

icons {
  font-size: 75px;
  padding: 5px 10px;
  color: rgb(0, 0, 0);
}

#link a {
  text-decoration: none;
  color: var(--primary-color);
}
#link a:hover {
  color: rgb(196, 157, 247);
}

#contact a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 30px;
}
#contact a:hover {
  color: rgb(196, 157, 247);
}
#contact-me i {
  font-size: 60px;
  color: var(--primary-color);
  border-radius: 50%;
  padding: 5px 10px;
}
#contact-me i:hover {
  color: rgb(196, 157, 247);
}
